[Unit]
Description=HOPLITE-WEB: Web interface to a kegerator monitoring script for RasPi
Requires=hoplite.service
After=hoplite.service

[Service]
ExecStart=/usr/bin/python3 -m hoplite.web

[Install]
WantedBy=multi-user.target hoplite.service
