[Unit]
Description=HOPLITE: A kegerator monitoring script for RasPi

[Service]
ExecStart=/usr/bin/python3 -m hoplite --config /etc/hoplite/config.json
TimeoutStopSec=10
KillSignal=SIGINT
Nice=-15

[Install]
WantedBy=multi-user.target
